
<div class="c-screen-login-singup">
  <div class="l-flex l-flex--justify-content-center">
    <div class="c-screen-login-singup--bienvenida" [class.dark-theme-screen-login-bienvenida]="isDarkTheme()">
      <div class="c-screen-login-singup--bienvenida__inf">
        <p class="c-screen-login-singup__titulo-bienvenida" [class.dark-theme-screen-login-bienvenida]="isDarkTheme()">
          Bienvenido</p>
        <p class="c-screen-login-singup__subtitulo-bienvenida"
          [class.dark-theme-screen-login-bienvenida]="isDarkTheme()">Para unirte a nuestra comunidad por favor completa los campos</p>
      </div>
    </div>

    <div class="c-screen-login-singup--form" [class.dark-theme-screen-login-form]="isDarkTheme()">
      <div class="c-screen-login-singup--form__inf g--margin-top-17">
        <p class="c-screen-login-singup__titulo-form">Crear una cuenta</p>
        <img src="../../../assets/registroSesion/google-icon.png" width="24px">
        <p class="c-screen-login-singup__subtitulo-form">Usa tu email para regsitrarte</p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div>
            <img src="../../../assets/registroSesion/user-black.png" width="16px"><input class="c-screen-login-singup__input" type="text" placeholder="Username" formControlName="username">
          </div>
          <div>
            <img src="../../../assets/registroSesion/sobre-black.png" width="16px"><input class="c-screen-login-singup__input" type="text" placeholder="Correo electrónico" formControlName="email">
          </div>
          <div>
            <img src="../../../assets/registroSesion/candado-black.png" width="16px"><input type="password" class="c-screen-login-singup__input" placeholder="Password" formControlName="password">
          </div>
          <div>
            <button class="c-screen-login-singup__btn" type="submit">Registrarme</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>