<div class="c-nav" [class.dark-theme]="isDarkTheme()" [class.light-theme]="!isDarkTheme()">
    <div
        class="l-flex l-flex--flex-direction-column l-flex--flex-direction-row@tablet l-flex--flex-direction-row@desktop l-flex--justify-content-between@tablet l-flex--justify-content-between@desktop">
        <p>
            <a class="c-nav__titulo" href="#">PSICO APP</a>
        </p>
        <div
            class="l-flex l-flex--flex-direction-column l-flex--flex-direction-row@tablet l-flex--flex-direction-row@desktop">
            <p>
                <a class="c-nav__opcions" routerLink="/habilidades" href="#">Habilidades</a>
            </p>
            <p>
                <a class="c-nav__opcions" href="#">Meditación</a>
            </p>
            <p>
                <a class="c-nav__opcions" href="#">Sueño</a>
            </p>
            <p>
                <a class="c-nav__opcions" href="#">Diario</a>
            </p>
        </div>
        <div class="l-flex l-flex--align-items-center l-flex--justify-content-center">
            <mat-slide-toggle  (change)="toggleTheme()"></mat-slide-toggle>
            <a><img class="c-nav__user" src="../../assets/header/user-icon2.png"></a>
        </div>
    </div>
</div>