<div class="l-columns l-columns--1 l-columns--2@tablet l-columns--3@desktop">
    @for (habilidad of habilidades | async ; track habilidad.id){
    <div class="c-card-ability" [class.dark-theme-ability]="isDarkTheme()" [class.light-theme-ability]="!isDarkTheme()" [style.background-image]="'url(' + habilidad.urlImg + ')'">
        <div class="c-card-ability__habilidades">{{habilidad.nombre}}</div>
        
    </div>
    }

    <div class="c-card-ability" [class.dark-theme-ability]="isDarkTheme()" [class.light-theme-ability]="!isDarkTheme()" [style.background-image]="'url(../../assets/habilidades/desarrollarCreatividad2.jpg)'">
        <a routerLink="/actividadesTotales" href="#">
            <div class="c-card-ability__actividades">Actividades</div>
        </a>
    </div>
    
</div>





