:root {
    @for $i from 1 through length($margins) {
        --margin-#{$i}:#{nth($margins,$i)};
    }
}

@for $i from 1 through length($margins) {
    .g--margin-#{$i} {
        margin: nth($margins, $i);
    }

    .g--margin-top-#{$i} {
        margin-top: nth($margins, $i);
    }

    .g--margin-left-#{$i} {
        margin-left: nth($margins, $i);
    }

    .g--margin-right-#{$i} {
        margin-right: nth($margins, $i);
    }
}

