:root {
    @for $i from 1 through length($paddings) {
        --padding-#{$i}:#{nth($paddings,$i)};
    }
}

@for $i from 1 through length($paddings) {
    .g--padding-#{$i} {
        padding: nth($paddings, $i);
    }

    .g--padding-top-#{$i} {
        padding-top: nth($paddings, $i);
    }

    .g--padding-left-#{$i} {
        padding-left: nth($paddings, $i);
    }

    .g--padding-right-#{$i} {
        padding-right: nth($paddings, $i);
    }
}

//RESPONSIVE
@each $padding, $lista in $paddings {
    @for $i from 1 through length($lista) {
        .g--padding-#{$padding} {
            padding: nth($lista, $i);
        }
    }
}

@each $key, $value in $breakpoints {
    @media (min-width:#{$value}) {
        $separator: "\\@";

        @if($key =="") {
            $separator: "";
        }

        $index : 0;

        @each $padding in $paddings {
            .g--padding-#{$index}#{$separator}#{$key} {
                padding: var(--paddings-#{$index});
            }

            $index: $index + 1;
        }
    }
}