.body{
    
    //--body-background-color:var(--color-primario-claro-3);
    --body-background-color:var(--color-primario-claro-9);
    
    background-color: var(--body-background-color);
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
}
.dark-theme-body {
    background-color: var(--color-primario-oscuro-8);

}