.c-footer{
    --c-footer-background-color:var(--color-primario-claro-4);
    --c-footer-background-color-dark:var(--color-primario-oscuro-5);
    --c-footer-color-font:var(--color-secundario-7);
    --c-footer-font-size:var(--size-l);

    color: var(--c-footer-color-font);
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 70px;
    box-sizing: border-box;
    //z-index: 1000;    

    &__frase{
        margin:0;
        font-size: var(--c-footer-font-size);
        font-style: italic;
    }
    &__autor{
        padding-top: 30px;
        margin: 0;
    }
}
.light-theme-footer {
    background-color: var( --c-footer-background-color);
  }
.dark-theme-footer {
    background-color: var(--c-footer-background-color-dark);
  }