<select id="tareas" [(ngModel)]="filtroEstado">
    <option *ngFor="let opcion of opciones" [value]="opcion">{{ opcion }}</option>
</select>

<div *ngFor="let actividad of actividades | async ">
    <div >
        <div class="c-title-activity" [class.dark-theme-title-activity]="isDarkTheme()"[class.light-theme-title-activity]="!isDarkTheme()">
            {{actividad.nombreHabilidad}}
        </div>
    </div>
    <div *ngFor="let key of getActividadKeys(actividad) ">
        
        <div class="c-card-activity" [class.dark-theme-activity]="isDarkTheme()"[class.light-theme-activity]="!isDarkTheme()">
            <a class="c-card-activity__nombre" routerLink="/actividadDetalle/{{actividad.id}}" href="#">
                {{ actividad[key].nombre }}
            </a>
            <div class="c-card-activity__duracion">{{ actividad[key].duracion }} min</div>
        </div>
    </div>
</div>

    